<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom_list.title %>
</p>

<%= link_to 'Edit', edit_custom_list_path(@custom_list) %> |
<%= link_to 'Back', custom_lists_path %>
